<body class="page">
<p id="notice"><%= notice %></p>

<img class="logo" alt="image" src="http://media.tumblr.com/2f6f615c91790ad075b3d6e06d3d7d80/tumblr_inline_n8chy7vppp1qhgktc.png" />

<p>
  <strong>Company:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<%= link_to 'Edit Employee', edit_employee_path(@employee) %> |
<%= link_to "View All Employees at #{@company.name}", company_path(@company) %>

  <% @weeks.each do |week| %>
    <h1> Week <%= week.number %></h1>
    <table>
      <thead>
        <th>Task</th>
        <th>Complete?</th>
        <th>Response?</th>
        <th>URL</th>
        <th>Comments</th>
      </thead>
      <tbody>
        <% @interactions[week].each do |interaction| %>
          <tr>
            <td> <%= interaction.task %> </td>
            <td> <%= interaction.complete %> </td>
            <td> <%= interaction.response %> </td>
            <td> <%= interaction.url %> </td>
            <td> <%= interaction.comments %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>


<h1>Final Results</h1>
</body>