<%= form_for(@interaction, url: employee_interactions_path) do |f| %>
  <% if @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% @interaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task %><br>
    <%= f.text_field :task %>
  </div>
  <div class="field">
    <%= f.label :complete %><br>
    <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :response %><br>
    <%= f.check_box :response %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
