<%= form_for(@interaction, url: @url) do |f| %>
  <% if @interaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interaction.errors.count, "error") %> prohibited this interaction from being saved:</h2>

      <ul>
      <% @interaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fieldcontainer">

      <div class="field1">
        <%= f.label :recipient %><br><br>
        <%= f.text_field :recipient %>
      </div>
 
      <div class="field3">
        <%= f.label :url %><br><br>
        <%= f.text_field :url %>
      </div>
      <div class="field4">
        <%= f.label :viewed %><br><br>
        <%= f.check_box :viewed %>
      </div>
      <div class="field5">
        <%= f.label :response_sentiment %><br>
        <%= f.check_box :response_sentiment %>
      </div>
      <div class="field6">
        <%= f.label :call_or_email_response %><br>
        <%= f.check_box :response_other %>
      </div>
      
      <div class="field2">
        <%= f.label :pilot_metric %><br><br>
        <%= f.check_box :pilot_metric %>
      </div>

      <div class="field7">
        <%= f.label :comments %><br><br>
        <%= f.text_area :comments, :cols=>"50", :rows =>"8" %>
      </div>

      
      <div class="actions">
        <%= f.submit %>
      </div>
  </div>
<% end %>
