<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<table>
  <thead>
    <tr>
      <th>Employees</th>
    </tr>
  </thead>

  <tbody>
    <% @company.employees.each do |employee| %>
      <tr>
        <td><%= link_to(employee.name, employee_path(employee.id)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
