<!DOCTYPE html>
<html>
<head>
  <title>Vsnap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to image_tag("http://media.tumblr.com/2f6f615c91790ad075b3d6e06d3d7d80/tumblr_inline_n8chy7vppp1qhgktc.png", :border => 0, :class => 'logo'), companies_path %>

<%= yield %>

</body>
</html>
